.html{
    background: rgb(2,0,36);
background: linear-gradient(17deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
}
.circle{
    height: 500px;
    width: 500px;
    border-radius: 100px;
    background-color: rgba(0, 128, 0, 0.41);
    align-items: center;
    position: absolute;
    
    
    background-color: rgba(0, 255, 170, 0.557);
    position: absolute;
    
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);

    
}
.content{
    padding: 5px;
   
    margin-top: 10%;
    
    
}

@keyframes example {
from {background-color: red;}
to {background-color: yellow;}
from{height: 100px;}
to{height: 500px;}
from{width: 100px;}
to{width: 500px;}
}


.circle {
width: 500px;
height: 500px;
background-color: yellow;;
animation-name: example;
animation-duration: 1000ms;
animation-iteration-count: 1;
}
@media (min-width: 319px) and (max-width: 480px){ 
@keyframes example {
from {background-color: red;}
to {background-color: yellow;}
from{height: 100px;}
to{height: 468px;}
from{width: 100px;}
to{width: 300px;}
}
h2{
    font-size: 1px;
}


.circle {
width: 300px;
height: 468px;
background-color: yellow;;
animation-name: example;
animation-duration: 1000ms;
animation-iteration-count: 1;
font-size: 10px;

}
.content{
font-size: 10px;
}
}
h1{
    text-align: center;
}


  
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    background-color: #f9f9f9; /* Light mode background color */
    color: #333; /* Light mode text color */
  }
  
  .dark-mode {
    background-color: #333; /* Dark mode background color */
    color: #f9f9f9; /* Dark mode text color */
  }
  .duncan{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10%;

    height: 10%;
  }
  body{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .bttn{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;
    margin-top: 5%;
    margin-bottom: 5%;
  }
 
 .containerone{
    font-size: 25%;
    margin: 1% 10% 1% 10%;
   
 }
 .containertwo{
    font-size: 50%;
    margin: 1% 10% 1% 10%;
 }
 .containerthree{
    font-size: 75%;
    margin: 1% 10% 1% 10%;
 }
 .containerfour{
    font-size: 100%;
    margin: 1% 10% 1% 10%;
 }
 .containerfive{
    font-size: 125%;
    margin: 1% 10% 1% 10%;

 }
 .containersix{
    font-size: 150%;
    margin: 1% 10% 1% 10%;
 }
 .containerseven{
    font-size: 175%;
    margin: 1% 10% 1% 10%;
 }
 .containereight{
    font-size: 200%;
    margin: 1% 10% 1% 10%;
 }
 .containernine{
    font-size: 225%;
    margin: 1% 10% 1% 10%;
    
 }
 .containerten{
    font-size: 250%;
    margin: 1% 10% 1% 10%;
 }
 .containereleven{
    font-size: 275%;
    margin: 1% 10% 1% 10%;
 }
 .containertwelve{
    font-size: 300%;
    margin: 1% 10% 1% 10%;
 }
 .containerthirteen{
    font-size: 325%;
    margin: 1% 10% 1% 10%;

 }
 .containerfourteen{
    font-size: 350%;
    margin: 1% 10% 1% 10%;
 }
 .containerfifteen{
    font-size: 375%;
    margin: 1% 10% 1% 10%;
 }
 .containersixteen{
    font-size: 400%;
    margin: 1% 10% 1% 10%;
 }
 .container{
    align-items: center;
    justify-content: center;
  
   
   
 }
 @media (max-width: 500px){
    .container{
        font-size: 20px;
    }
 }
 @media (min-width: 600px){
    .container{
        font-size: 40px;
    }
 }